.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e !important;
  position: fixed;
  top: 0;
  /* border-radius: 0px 0px 25px 25px; */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo a {
  font-size: 32px;
  /* color: #fc5185; */
  color: #fff !important;
  padding-left: 50px;
}
.navbar ul {
  display: flex;
  margin-right: 50px;
}

.navbar ul li {
  margin-left: 20px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.link_a {
  width: auto;
  font-size: 22px;
  color: #fff !important;
  font-weight: 500;
}
.link_a:active {
  color: #0facf3 !important;
}
